#seguridad{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#seguridad h1{
    margin-bottom: 20px;
}

#seguridad-container{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 15px;
    flex-wrap: wrap;
}