.card{
    width: 220px;
    height: 320px;
    border-color: #ffc107;
}

.card-title{
    text-align: center;
    font-size: 15px;
}

.card-img-top{
    width: 100% !important;
}

.link{
    width: 100%;
}